* {
    margin: 0;
    padding: 0;
}

.nav{
    height: 3.5rem;
    background-color: gray;
}
.menu{
    padding: 0rem;

    display: flex;
    
    flex-flow: row nowrap;
    justify-content: start;
    align-content: center;

    gap: 3rem;
}

.menu li{
    display: flex;
    background-color: aqua;
    height: 100%;
    padding: 0.5rem;
}

.menu li a{
    text-decoration: none;
    font-size: 2rem;
}

.menu li:hover {
    background-color: green; 
    color: white;
}